{% extends 'base.html.twig' %}

{% block title %}
	Post
{% endblock %}

{% block body %}
	{{parent()}}
	<div class="container my-3">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{message}}
			</div>
		{% endfor %}
		<div class="row">
			<div class="col-md-6">
				<img src="{{asset('uploads/post/'~post.imagename)}}" width="100%"/>
			</div>
			<div class="col-md-6">
				<header>
					<h1>{{post.title}}</hi>
				</header>
				<div class="my-1">
					<strong>Author:
						{{post.user.email}}</strong>
				</div>
				<div class="my-1">
					<strong>Category:
						{{post.category.name}}</strong>
				</div>
				<hr/>
				<div>{{post.content}}</div>
			</div>
		</div>
		<div class="my-3">
			{{form(formComment)}}
			</div>
		</div>
		<div>
			{% for comment in comments %}
				<div class="my-3 text-justify p-2 border rounded">
					<div>
						<strong>
							Author:
							{{comment.user.email}}
						</strong>
					</div>
					<div>
						<strong>
							Created Date:
							{{comment.creationDate |date("m/d/Y")}}
						</strong>
					</div>
					{{comment.comment}}
				</div>
			{% endfor %}
		</div>
	{% endblock %}
